:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bg-main: #000000;
  --bg-panel: #0f0f0f;

  --border-main: #b8bec5;
  --border-soft: #7e8791;

  --text-main: #f3f4f6;
  --text-muted: #9aa4ad;

  --button-bg: #111315;
  --button-bg-hover: #181c20;
  --button-active: #b8bec5;
  --button-active-text: #0b0c0d;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
}